body {font-family: 'EB Garamond', serif;
        }

.index{ background: url(background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
.header-main {background: linear-gradient(180deg, #000 28.65%, rgba(0, 0, 0, 0.00) 100%);
                 display: flex;
                padding: 0px 70px 0px 661px;
                justify-content: flex-end;
                align-items: center;
                gap: 700px;
                color: #fff;
                height: 80px;
                font-size: 24px;}
.header-secondary{background: #111;
                display: flex;
                justify-content: left;
                align-items: center;
                height: 80px;}

.initials-primary {padding: 10px;
                   font-weight: 400;    
                }
.initials-secondary {margin-left: 70px;
                 margin-right: 10px;
                 padding: 10px;
                font-weight: 400;}
.initials-secondary-link {text-decoration: none;
                        color: #cecece;}

.letter {
        font-family: 'Love Light', cursive;
        font-size: 36px;}

.menu-item {list-style: none;  
        display: inline-flex;
        }
.menu-item-link {text-decoration: none; 
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        font-size: 24px;
        font-weight: 500;
        color:#cecece;}        
.flag { width: 40px;
        display: flex;
        padding: 25px,25px;
        justify-content: center;
        }
.language-flag{margin-left: 700px; /*find a way to align it right*/}   
.footer-main {background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        color:#5e5e5e;
        display: flex;
        height: 50px;
        padding: 0px 70px 0px 1217px;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        }
.footer-secondary {
                        background: #111;
                        color: #5e5e5e;
                        display: flex;
                        height: 50px;
                        padding: 0px 70px 0px 1217px;
                        justify-content: flex-end;
                        align-items: center;
                        flex-shrink: 0;
                }
.creator-link {text-decoration: none;
                color: #5e5e5e;}
.creator-link:hover, .creator-link:focus { color: #c2460d}
.date {font-size: 130px;
        align-items: center;}
.outline-pl{width: 615px;
            height: 582.665px;
           flex-shrink: 0;}
.outline-bg{width: 739.999px;
            height: 481.515px;
            flex-shrink: 0;}    