:root {
        --navyblue: #2E2F42;
        --slate: #434455;
        --cornflower: #E7E9FC;
        --white: #fff;
        --black: #000;
        --cloud: #F4F4FD;
        --lightslate: #8E8F99;
        --grey: #2E2F42;
        --dairy: #e7e7e7;
        --brickred: #c22e2e;
}
body {font-family: 'Ysabeau Infant', sans-serif;
        }
ul{ margin-block-end: 0;
        margin-block-start:0;
        padding: 0;
        list-style-type: none;
        }
h1 {margin: 0;
        padding:0}
h2 {margin: 0;}
svg{display: block;
fill: currentColor;
}
img{display: block;}
a{text-decoration: none;
        color: currentColor;}
.container {

        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding: 2% 10%;
}

/* .section {
        padding: 96px 0;
} */
.menu-main {
        display: none;
}

.index{ background: url(new-background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}

.header-main {
        /* background-color: #000; */
                width: 100%;
                color: #fff;
                height: 80px;
                font-size: 24px;}
.header-items {display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;}

.initials-primary {padding-top: 10px;
                   font-weight: 400; 
                   margin: auto;
                   font-size: 36px;   
                }
.letter {
        font-family: 'Love Light', cursive;
        font-size: 56px;}

.main-body {
            padding: 1% 0;
            margin-bottom: 50px;
            }
.main-body>h1{
        text-align: center;
}
.footer-main {
        /* background: black; */
        color:#e7e7e7;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 7%;
        }
.creator {
        text-align: center;
        font-style: italic;
        font-size: 75%;
        margin-top: 1.5%;
}
.creator-link {text-decoration: none;
                color: #ffffff;
                font-style:initial;}

.creator-link:hover, .creator-link:focus { color: #c22e2e}
.main-page{     margin-top:50px;
                display: flex;
                align-items: center;
                padding-top: 180px;
         }
.date { font-family: 'EB Garamond', serif;
        color: #cfcece;
        font-size: 75px;
        font-weight: 500;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        padding: 0 0 100px 0;
}
                     
.choose-lang{   display: flex;
                justify-content: center;
                gap: 50px;
                margin-top: -50px ;}
.choose-pl{display: flex;
        flex-direction: column;
        align-items: center;}
.choose-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.choose-lang-title{     color: #cfcece;
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 10px;}
.choose-flag { display: block;}
.choose-flag:hover, .choose-flag:focus{ box-shadow: 0px 0px 20px 3px #c22e2ebf;
                                        border-radius: 25px;
                                }

/* Pages styling below */


.header-secondary {
        background: var(--black);
        width: 100%;
        color: #fff;
        height: 80px;;
}
.initials-secondary-link{text-decoration: none;
                                color:#fff;}
.initials-secondary-link:hover, .initials-secondary-link:focus{color: #c22e2e;}
.initials-secondary {
        font-weight: 400;
        margin: 0;
        font-size: 24px;
        padding-top: 10px;
        
}
.letter-small {
        font-family: 'Love Light', cursive;
        font-size: 36px;
}
.header-items-secondary{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top:15px;
                padding-left: 5%;
}
 .header-items-secondary>nav {
         display: flex;
         gap: 10px;
         align-items: center;
 }
 .menu-navigation {
         display: none;
 }
.mobile-menu{
        display: flex;
        justify-content: end;
        align-content: center;
}
 .mobile-menu-list {
         display: flex;
         flex-direction: row;
         margin-top: 10px;
         align-items: center;
         justify-content: center;
          }

 .mobile-menu-icon {
        display: flex;
        justify-content: center;
        fill: var(--white);
 }
.mobile-menu-icon-active{
        fill: var(--brickred);}

.menu-navigation-pl {
        display: contents;
        padding-inline-start: 0;
}

.menu-navigation-pl>ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
}

.menu-item-link-pl {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: #cecece;
}

.menu-item-link-pl:hover,
.menu-item-link-pl:focus {
        color: #c22e2e;
}
.active-link {
        color: #c22e2e;
}
.title-text{font-style: italic;
        text-align: center;
        padding-bottom: 0;
        
}
.title-text>h1{font-size: 28px;}
.title-text>h2{font-size: 24px;}
.funny-note {font-weight: 400;}
.info{
        font-size: 15px;
        font-weight: 600;
        padding: 0 0 10px 0;
        text-align: justify;
        }
.info-title{ text-align: left; 
        color: var(--brickred);
        }
.info-paragraph{ padding: 0 2% 2% 2%;}
.info-colors { margin-inline-start: auto;}
.link-colors{ color: #000;
                text-decoration: none;}
.link-colors:hover, .link-colors:active {color:var(--brickred);}

.footer-secondary {
        background: black;
        color: #e7e7e7;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;
}

.map-frame-mobile { display: flex;
             margin: auto;
}
.map-frame-desktop{
                display: none;
}
.page-heading{ text-align: justify;
                margin-bottom: 1%;}
.page-heading>h1 { text-align: center;}
.page-heading>p{ font-size: 15px;
                 line-height: 1}
.contacts{margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
}
.contacts-item{ 
                text-align: center;
                line-height: 1.5;
                padding: 2%;
                max-width: 400px;
                background-color: var(--white);
                                text-align: center;
                                border-radius: 4px 4px 4px 4px;
                                box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
                }
.facebook-icon-link {   display: flex;
                        justify-content: center;
                        padding:3px;
                        margin: 0 50px;
                        background-color: rgb(191, 191, 255);
                        border-radius: 50%;
                        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
                      
                }

.phone-descr{ font-size: 12px;}

.under-construction {
        font-style: italic;
        text-align: center;
        font-weight: 700;
        color: var(--brickred);
        font-size: 20px;
        margin:0 auto;
        padding-top: 0;
        padding-bottom: 5px;
}
.container-overflow{
        overflow-y: auto;
}
.travel-info {
        text-align: justify;
        line-height: 1;
        padding: 2%;
        max-width: 400px;
        background-color: var(--white);
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.travel-info>h3 { 
        text-align: center;
        margin-top:0;
}
.travel-section{
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
}
.hotel-section{
        text-align: center;
}
.hotel-section>h3{
        text-align: center;
        margin:0;
        padding-top:0;
}
.hotel-info{text-align: center;
        line-height: 1.5;
        padding: 20px;
        max-width: 400px;
        background-color: var(--white);
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        margin: 0 auto;

}
@media screen and (min-width: 1200px) {
        
  .container { max-width: 1158px;
                margin-inline: auto;
                padding-inline:15px;
        }
  
.header-main {
        /* background-color: #000; */
        width: 100%;
        color: #fff;
        height: 80px;
        font-size: 24px;
}

.header-items {
        display: flex;
        flex-direction: row;
        
}
.initials-primary {
        padding-top: 20px;
        font-weight: 400;
        margin: auto;
        padding-inline-start: 100px;
        font-size: 36px;
}
.menu-main{
        display:contents;
}
.menu-language {
        list-style: none;
}

.menu-language:hover,
.menu-language:focus {
        background-color: #88918891;
        border-radius: 15px;
}

.menu-lang-wrapper {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        gap: 20px;
}

.menu-item-link {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #cecece;
}

.menu-item-link:hover,
.menu-item-link:focus {
        color: #c22e2e;
}

.flag:hover,
.flag:focus {
        box-shadow: 0px 0px 3px 3px #c22e2ebf;
        border-radius: 15px;
}
.section {
                padding: 120px 0;
        }
        .date {
                        font-family: 'EB Garamond', serif;
                        color: #cfcece;
                        font-size: 175px;
                        font-weight: 500;
                        text-align: center;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
                        padding: 0 0 100px 0;
                        margin-top: -50px;
                }
        .choose-lang {
                        display: flex;
                        justify-content: center;
                        gap: 200px;
                        margin-top: -100px;
        }

        .choose-lang-title {
        color: #cfcece;
        font-style: italic;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
        }
                .main-page {
                        margin-top: 50px;
                        display: flex;
                        align-items: center;
                        background-image: url(../svg/outlines-pl-bg.svg);
                        background-repeat: no-repeat;
                        background-position-x: center;
                        padding: 180px;
                }
                                 .header-items-secondary>nav {
                                         display: flex;
                                         gap: 50px;
                                         align-items: center;
                                 }
                .mobile-menu{
                        display: none;
                }
                .menu-nav{ display: none;}
                .menu-button{
                        display: none;
                }

                .menu-navigation {
                        display: contents;
                        padding-inline-start: 0;
                }
        
                .menu-navigation>ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                }
        
                .menu-language-page {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                }
        
                .menu-language-page:hover,
                .menu-language-page:focus {
                        background-color: #88918891;
                        border-radius: 15px;
                }
        
                

                .menu-navigation-pl {
                        display: contents;
                        padding-inline-start: 0;
                }
        
                .menu-navigation-pl>ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                }
                .menu-item-link-pl {
        font-size: 18px;

}
                .footer-secondary {
                        background: black;
                        color: #e7e7e7;
                        position: fixed;
                        bottom: 0;
                        width: 100%;
                        height: 50px;
                }
                .page-heading>p {
                        font-size: 20px;
                        padding-top: 1%;
                        margin: auto;
                        max-width: 600px;
                                }

       .map-frame-mobile {
               display: none;
       }

       .map-frame-desktop {
               display: flex;
               margin: auto;
       }
  .contacts {
          justify-content: center;
          flex-direction: row;
  }
  .title-text {
          font-size: 24px;
          font-style: italic;
          padding-bottom: 0;
          /* display: flex;
          flex-direction: column;
          align-items: left; */
  }

  .info-paragraph {
          display: flex;
          flex-direction: column;
          align-items: left;
          padding: 0;
  }
  .funny-note{
        display: block;
        margin-bottom: 0;
  }
  .info {text-align: justify;
        padding: 0 0 10px 0;
        margin: 0 15%;
        font-size: 20px;

  }
  .under-construction{
        text-align: center;
  }
  .travel-section {
          flex-direction: row;
          justify-content: center;
}
.hotel-section {
        font-size: 20px;
}
}
